<%= form_for [:admin, @page], html: {class: "form-horizontal"} do |f| %>
    <% if @page.errors.any? %>
        <div class="alert alert-danger" role="alert">
            <h4><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h4>
            <ul>
                <% @page.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                    <% end %>
            </ul>
        </div>
        <% end %>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#base">Основные</a></li>
                <li><a data-toggle="tab" href="#seo">SEO</a></li>
            </ul>
            <div class="tab-content">
                <div id="base" class="tab-pane fade in active">
                    <h3>Основные настройки</h3>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">Название</label>
                        <div class="col-md-10">
                            <%= f.text_field :title, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">Категория</label>
                        <div class="col-md-10">
                            <%= f.select :pages_category_id, PagesCategory.all.collect {|c| [ c.title, c.id ] }, {include_blank: true}, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">Текст</label>
                        <div class="col-md-10">
                            <%= f.cktext_area :body %>
                        </div>
                    </div>
                </div>
                <div id="seo" class="tab-pane fade">
                    <h3>Настройки SEO</h3>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">SEO title</label>
                        <div class="col-md-10">
                            <%= f.text_field :seo_title, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">SEO description</label>
                        <div class="col-md-10">
                            <%= f.text_area :seo_description, class: 'form-control' %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <%= button_tag(type: 'submit', class: 'btn btn-primary pull-right') do %>
                        <i class=""></i> Отправить
                        <% end %>
                </div>
            </div>
            <% end %>
