<%= form_tag destroy_multiple_admin_pages_path, method: :delete do %>
    <div class="row">
        <div class="col-md-6">
            <h1 style="margin-top: 0px;">Страницы</h1>
        </div>
        <div class="col-md-6">
            <div class="form-inline pull-right">
                <div class="form-group">
                    <%= link_to new_admin_page_path, class: 'btn btn-primary' do %>
                        <i class="fa fa-plus"></i>
                        <% end %>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> Страницы</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>
                            <input type="checkbox" id="checkAll">
                        </th>
                        <th>
                            #
                        </th>
                        <th>
                            Название
                        </th>
                        <th>
                            Категория
                        </th>
                        <th>
                            Дата создания
                        </th>
                        <th>
                            На сайте
                        </th>
                    </tr>
                    <% @pages.each do |p| %>
                        <tr>
                            <td>
                                <%= check_box_tag "pages[]", p.id, checked = false, class: 'check' %>
                            </td>
                            <td>
                                <%= p.id %>
                            </td>
                            <td>
                                <p>
                                    <%= link_to p.title, edit_admin_page_path(p) %>
                                        <!-- <%= link_to p.title, admin_page_path(p) %> -->
                                </p>
                            </td>
                            <td>
                                <% if p.pages_category.present? %>
                                    <%= p.pages_category.title %>
                                        <% else %>
                                            <p>Без категории</p>
                                            <% end %>
                            </td>
                            <td>
                                <%= p.created_at %>
                            </td>
                            <td>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <%= link_to page_path(p), class: 'btn btn-success' do  %>
                                            <i class="fa fa-eye"></i>
                                            <% end %>
                                    </div>
                                    <!-- <div class="form-group">
                                        <%= link_to edit_admin_page_path(p), class: 'btn btn-success' do  %>
                                            <i class="fa fa-pencil"></i>
                                            <% end %>
                                    </div> -->
                                </div>
                            </td>
                        </tr>
                        <% end %>
                </table>
            </div>
            <div class="form-group">
                <%= will_paginate @pages, renderer: BootstrapPagination::Rails  %>
            </div>
        </div>
    </div>
    <% end %>
        <script>
        $("#checkAll").click(function() {
            $(".check").prop('checked', $(this).prop('checked'));
        });
        </script>
