<% breadcrumb :admin_orders %>
<%= form_tag destroy_multiple_admin_orders_path, method: :delete do %>
    <div class="row">
        <div class="col-md-6">
            <h1 style="margin-top: 0px;">Заказы</h1>
        </div>
        <div class="col-md-6">
            <div class="form-inline pull-right">
                <div class="form-group">
                    <%= link_to new_admin_order_path, class: 'btn btn-primary' do %>
                        <i class="fa fa-plus"></i>
                        <% end %>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                </div>
            </div>
        </div>
    </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>
                            <input type="checkbox" id="checkAll">
                        </th>
                        <th>
                            #
                        </th>
                        <th>
                            ФИО
                        </th>
                        
                        <th>
                            Дата создания
                        </th>
                        <th>
                            Статус
                        </th>
                        <th>
                            Сумма
                        </th>
                        <th>
                        Изменить
                        </th>
                    </tr>
                    <% @orders.each do |o| %>
                        <tr>
                            <td>
                                <%= check_box_tag "orders[]", o.id, checked = false, class: 'check' %>
                            </td>
                            <td>
                                <%= o.id %>
                            </td>
                            <td>
                                <p>
                                    <!-- <%= link_to o.name, edit_admin_order_path(o) %> -->
                                        <%= link_to o.name, admin_order_path(o) %>
                                </p>
                            </td>
                           
                            <td>
                                <%= o.created_at %>
                            </td>
                            <td>
                                                  <%= render 'order_status', content: o.status %>
                            </td>
                            <td>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <%= number_to_currency_rub(o.total_price) %>
                                    </div>
                                    <!-- <div class="form-group">
                                        <%= link_to edit_admin_order_path(o), class: 'btn btn-success' do  %>
                                            <i class="fa fa-pencil"></i>
                                            <% end %>
                                    </div> -->
                                </div>
                            </td>
                             <td>
                                <%= link_to edit_admin_order_path(o)  do %>
                                    <button type="button" class="btn btn-success"><i class="fa fa-pencil"></i></button>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                </table>
            </div>
            <div class="form-group">
                <%= will_paginate @orders, renderer: BootstrapPagination::Rails  %>
            </div>
       
    <% end %>
        <script>
        $("#checkAll").click(function() {
            $(".check").prop('checked', $(this).prop('checked'));
        });
        </script>
