<% breadcrumb :admin_products %>
    <%= form_tag destroy_multiple_admin_products_path, method: :post do %>
        <div class="row">
            <div class="col-md-6">
                <h1 style="margin-top: 0px;">Товары</h1>
            </div>
            <div class="col-md-6">
                <div class="form-inline pull-right">
                    <div class="form-group">
                        <%= link_to new_admin_product_path, class: 'btn btn-primary' do %>
                            <i class="fa fa-plus"></i>
                            <% end %>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">Все</a></li>
                <li role="presentation"><a href="#">Активные</a></li>
                <li role="presentation"><a href="#">Неактивные</a></li>
            </ul>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        <input type="checkbox" id="checkAll">
                    </th>
                    <th>
                        #
                    </th>
                    <th>
                        Обложка
                    </th>
                    <th>
                        Название
                    </th>
                    <th>
                        Категория
                    </th>
                    <th>
                        Цена
                    </th>
                    <th>
                        Статус
                    </th>
                    <th>
                        На сайте
                    </th>
                </tr>
                <% @all_products.each do |p| %>
                    <tr>
                        <td>
                            <%= check_box_tag "products[]", p.id, checked = false, class: 'check' %>
                        </td>
                        <td>
                            <%= p.id %>
                        </td>
                        <td>
                            <%= image_tag p.cover.url(:admin_thumb) if p.cover? %>
                        </td>
                        <td>
                            <%= link_to p.title, edit_admin_product_path(p) %>
                                <!-- <%= link_to p.title, admin_product_path(p) %> -->
                        </td>
                        <td>
                            <% if p.products_category.present? %>
                                <%= p.products_category.title %>
                                    <% else %>
                                        <p>Без категории</p>
                                        <% end %>
                        </td>
                        <td>
                            <%= number_to_currency_rub(p.price) %>
                        </td>
                        <td>
                            <%= active_status(p.active) %>
                        </td>
                        <td>
                            <div class="form-inline">
                                <div class="form-group">
                                    <%= link_to product_path(p), class: 'btn btn-success' do  %>
                                        <i class="fa fa-eye"></i>
                                        <% end %>
                                </div>
                                <!-- <div class="form-group">
                                        <%= link_to edit_admin_product_path(p), class: 'btn btn-success' do  %>
                                            <i class="fa fa-pencil"></i>
                                            <% end %>
                                    </div> -->
                            </div>
                        </td>
                    </tr>
                    <% end %>
            </table>
        </div>
        <div class="form-group">
            <%= will_paginate @all_products, renderer: BootstrapPagination::Rails  %>
        </div>
        <% end %>
            <script>
            $("#checkAll").click(function() {
                $(".check").prop('checked', $(this).prop('checked'));
            });
            </script>
