<% breadcrumb :admin_products_categories %>
    <%= form_tag destroy_multiple_admin_products_categories_path, method: :delete do %>
        <div class="row">
            <div class="col-md-6">
                <h1 style="margin-top: 0px;">Категории товаров</h1>
            </div>
            <div class="col-md-6">
                <div class="form-inline pull-right">
                    <div class="form-group">
                        <%= link_to new_admin_products_category_path, class: 'btn btn-primary' do %>
                            <i class="fa fa-plus"></i>
                            <% end %>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> Категории товаров</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                <input type="checkbox" id="checkAll">
                            </th>
                            <th>
                                #
                            </th>
                            <th>
                                Название
                            </th>
                            <!-- <th>
    Дата создания
</th>
 -->
                            <!-- <th>
    На сайте
</th>
 -->
                        </tr>
                        <% @products_categories.each do |c| %>
                            <tr>
                                <td>
                                    <%= check_box_tag "products_categories[]", c.id, checked = false, class: 'check' %>
                                </td>
                                <td>
                                    <%= c.id %>
                                </td>
                                <td>
                                    <%= link_to c.title, edit_admin_products_category_path(c) %>
                                        <!-- <%= link_to c.title, admin_products_category_path(c) %> -->
                                </td>
                                <!-- <td>
                                c.created_at
                            </td> -->
                                <!--<td>
                                <div class="form-inline">
                                    <div class="form-group">
                                         link_to products_category_path(c), class: 'btn btn-success' do
                                            <i class="fa fa-eye"></i>
                                            end
                                    </div> 
            </div>
            </td> -->
                            </tr>
                            <% end %>
                    </table>
                </div>
                <div class="form-group">
                    <%= will_paginate @products_categories, renderer: BootstrapPagination::Rails  %>
                </div>
            </div>
        </div>
        <% end %>
            <script>
            $("#checkAll").click(function() {
                $(".check").prop('checked', $(this).prop('checked'));
            });
            </script>
