<br>
<br>
<br>
<footer>
    <div class="container">
        <div class="col-md-3">
            <a href="tel:<%= Settings['base.tel'] %>">
                <%= Settings['base.tel'] %>
            </a>
            <p>
                <%= Settings['base.work_time'] %>
            </p>
            <p>
                <a href="mailto:<%= Settings['base.email'] %>">
                    <%= Settings['base.email'] %>
                </a>
            </p>
            <p>
                <%= Settings['base.address'] %>
            </p>
            <p>
                <%= Settings['base.info'] %>
            </p>
        </div>
    </div>
</footer>
<%= raw Settings['addtl.scripts'] %>
