<br>
<br>
<br>
<footer>
    <div class="container">
        <div class="col-md-3">
        <a href="tel:<%= MySettings['base.tel'] %>"><%= MySettings['base.tel'] %></a>
                <p>
                    <%= MySettings['base.work_time'] %>
                </p>
                <p>
                <a href="mailto:<%= MySettings['base.email'] %>"><%= MySettings['base.email'] %></a>
                    
                </p>
                <p>
                    <%= MySettings['base.address'] %>
                </p>
                <p>
                    <%= MySettings['base.info'] %>
                </p>
        </div>
    </div>
</footer>
